*{
    margin:0;
    padding:0;

}
h1{
    margin: 4px;;
}
body{
    background-color: rgb(218, 156, 188);
    text-align:center;
}

.container{
    height: 70vh;
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 0%;
}

.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    gap: 1.5vmin;
}

.box{
    height:18vmin;
    width:18vmin;
    border: none;
    box-shadow: 0 0 1rem rgb(153, 25, 91) ;
    font-size: 8vmin;
    color: rgb(153, 25, 91);
    background-color: aliceblue;
}

#reset{
    padding: 1rem;
    font-size: 1;
    background-color: rgb(153, 25, 91);
    color: rgb(227, 234, 239);
    border-radius: 1rem;
    border: none;
    margin: 0%;
}

#newGame{
    padding: 1rem;
    font-size: 1;
    background-color: rgb(153, 25, 91);
    color: rgb(227, 234, 239);
    border-radius: 1rem;
    border: none;
    margin-top: 10px;
}

#msg{
    color: rgb(21, 2, 14);
    font-size: 5vmin;
}

.msg-container{
    height:70vmin
}
.hide{
    display: none;
}

